/* Header --> */
header {
    background-color: rgb(10, 10, 10);
    width: 100%;
    border-bottom: 5px solid rgb(60,60,60);
    transition: 0.3s;
}
header:hover{
    background-color: rgb(30,30,30);
    border-bottom: 5px solid rgb(80,80,80);
}



.box {
    color: #fff;
    /* Cor do texto */
    display: flex;
    /* Exibição como elemento flexível */
    justify-content: space-between;
    /* Alinhamento horizontal dos itens */
    align-items: center;
    /* Alinhamento vertical dos itens */
    padding: 20px;
    /* Espaçamento interno */
    max-width: 1200px;
    margin: 0 auto;

}

/* Estilo para o texto do logo */
.logo a {
    font-size: 24px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    text-transform: uppercase;
    /* Transformação do texto para caixa alta */
    text-decoration: none;
    color: white;
}

/* Estilos para o menu de navegação */
.box nav ul {
    display: flex;
    /* Exibição como elemento flexível */
}

.box nav ul li {
    margin-left: 20px;
    /* Espaçamento entre os itens */
    list-style: none;
    /* Remoção dos marcadores da lista */
}

.box nav ul li a {
    color: #ffffff;
    /* Cor do texto do link */
    text-decoration: none;
    /* Remoção do sublinhado */
    font-size: 16px;
    /* Tamanho da fonte */
}

.box nav ul li a:hover {
    text-decoration: underline;
}

/* <-- Header */