* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(200, 200, 200);
}


section {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

section.apresentacao {
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 200px 0;
    color: white;
    display: flex;
    margin-top: 100px;
}

section.apresentacao .texto {
    margin: auto;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
}


section.sobre {
    margin-top: 100px;
    text-align: left;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 100px 150px;
    line-height: 35px;
    display: flex;
}

section.sobre .foto {
    width: 300px;
    height: 300px;
    margin: auto 0;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url('/imagens/icons/meu_icone.png');
    background-size: cover;
    background-position: center;

}

section.sobre .foto p{
    color: rgb(255, 255, 255);
    background-color: rgba(51, 51, 51, 0.575);
    border-radius: 20px;
    margin-top: 100px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
}

section.sobre .texto {
    width: 75%;
    margin-left: 50px;
    font-size: 20px;
}

section.sobre h2 {
    font-size: 40px;
}

section.sobre .border-bottom {
    width: 250px;
    padding: 3px;
    background-color: rgb(118, 255, 164);
    border-radius: 10px;
    margin-bottom: 20px;
}

section.projetos {
    text-align: center;
    padding: 80px 20px;
    background-color: rgb(10, 10, 10);
    color: white;
    margin: 100px auto;
}

section.projetos h2 {
    font-size: 40px;
}

section.projetos .box {
    display: flex;
}

section.projetos .box .projeto, .loading {
    border: 2px solid rgb(10,10,10);

    min-width: 300px;
    height: 200px;
    margin: 50px auto;
    background-color: white;
    cursor: pointer;
}

section.projetos .box .em-breve {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animação do sinal de carregamento --> */
.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-top-color: #333;
    animation: girar 1s infinite linear;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* <-- Animação do sinal de carregamento */



/* Animação da palavra loading --> */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #333;
}

.loading span {
    display: inline-block;
    margin-right: 10px;
    animation: pulse 1.5s infinite ease-in-out;
}

.loading span:nth-child(1) {
    animation-delay: 0s;
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
}

.loading span:nth-child(4) {
    animation-delay: 0.6s;
}

.loading span:nth-child(5) {
    animation-delay: 0.8s;
}

.loading span:nth-child(6) {
    animation-delay: 1s;
}

.loading span:nth-child(7) {
    animation-delay: 1.2s;
}

.loading span:nth-child(8) {
    animation-delay: 1.4s;
  }

  .loading span:nth-child(9) {
    animation-delay: 1.6s;
  }

  .loading span:nth-child(10) {
    animation-delay: 1.8s;
  }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* <-- Animação da palavra loading */




/* Animação dos números --> */

section.apresentacao .animacao {
    width: 300px;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.linha {
    display: flex;
}

.numero {
    font-size: 24px;
    color: rgb(0, 179, 15);
    opacity: 0;
    animation: descer 3s linear infinite;
    margin: 5px;
}

.numero:nth-child(odd) {
    animation-delay: 1.4s;
}

.numero:nth-child(even) {
    animation-delay: 0.2s;
}

@keyframes descer {
    0% {
        transform: translateY(-200%);
        opacity: 0;
        color: rgb(0, 136, 214);
    }

    50% {
        opacity: 1;
        color: rgb(0, 214, 203);


    }

    100% {
        transform: translateY(300%);
        opacity: 0;
        color: rgb(0, 214, 36);
    }
}

/* <-- Animação dos números */


#nome {
    display: inline-block;
    overflow: hidden;
    animation: digitando 8s steps(30, end) infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

#nome:hover {
    display: inline;
    color: white;
}


@keyframes digitando {
    0% {
        width: 0%;
        color: rgb(0, 136, 214);
    }

    25% {
        color: rgb(21, 47, 160);
    }

    50% {
        color: rgb(1, 124, 73);
    }

    75% {
        color: rgb(0, 214, 203);
    }

    100% {
        width: 100%;
        color: rgb(0, 0, 0)
    }
}